.favorite-icon {
  position: absolute;
  top: 77px;
  right: 55px;
  color: gold;
  cursor: pointer;
  font-size: 44px;
}
.favorite-icon:hover {
  color: rgb(112, 112, 112);
}

.favorite {
  color: gold;
}
