.featmov {
  display: flex;
  flex-direction :row;
  justify-content: center; 
  align-items: center; 
  height: auto; 
  margin: 0; 
  margin-top: 10%;
}
.featmov-text {
  display: flex;
  flex-direction :row;
  justify-content: center; 
  align-items: center; 
  height: auto; 
  margin: 0; 
  margin-top: -2%;
  margin-bottom: 22px;
  
}
.featchannel {
  display: flex;
  flex-direction :row;
  justify-content: center; 
  align-items: center; 
  height: auto; 
  margin: 0; 
  margin-top: 4%;
}
.featchannel-text {
  display: flex;
  flex-direction :row;
  justify-content: center; 
  align-items: center; 
  height: auto; 
  margin: 0; 
  margin-top: 11%;
  margin-bottom: 5%;
}

.featured-movie-poster1 {
  margin-left: -100%;
  width: 100px; 
  height: auto;
  text-align: center;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1); 
  border: 1px solid black;
}
.featured-movie-poster2 {
  width: 122px; 
  height: auto;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5); 
  border: 1px solid black;
}
.featured-movie-poster3 {
  margin-top: 22px;
  margin-left: 100%;
  width: 100px; 
  height: auto;
  text-align: center; 
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1); 
  border: 1px solid black;
}

.featured-channel-poster1 {
  margin-left: -70%;
  width: 100px; 
  height: auto;
  text-align: center;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1); 
  border: 1px solid black;
  margin-right: 11px;
}
.featured-channel-poster2 {
  width: 122px; 
  height: auto;
  margin-bottom: 22%;
  margin-top: 22%;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5); 
  border: 1px solid black;
  z-index: 2;
}
.featured-channel-poster3 {
  margin-top: 8px;
  width: 122px; 
  height: auto;
  text-align: center; 
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1); 
  margin-left: 70%;
  border: 1px solid black;
}

.featured-text {
  color: gold;
  font-size: 122px;
  font-family: "Luckiest Guy", cursive;
  margin-top: 100px;
  text-shadow: black 2px 2px 2px;
  text-align: center;
 

}
.featured-text-channels {
  color: gold;
  font-size: 122px;
  font-family: "Luckiest Guy", cursive;
  margin-top: 55%;
  text-shadow: black 2px 2px 2px;
  text-align: center;
  margin-bottom: -2%;
 

}

.phone-img-size {
  // max-width: 100%;
  width: 100%;
  margin-top: 10%;
}
.phone-img-container {
  display: block;
  max-width: 100%;
  width: 200%;
}
// @media (max-width: 1450px) {
//   .phone-img-container {
//     width: 100%; 
//   }
// }

.phone-img-item {
  position: relative;
  margin: 10px;
  flex: 0 0 calc(25% - 20px); 
  box-shadow: 0 5px 5px rgba(0, 0, 0, 5); 
}


.phone-link {
  display: block;
  position: relative;
}

.phone-poster-wrapper {
  position: relative;
  width: 100%;
  padding-bottom: 150%; 
  overflow: hidden;
}

.phone-poster-size {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; 
}

.phone-play-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1; 
  transition: opacity 0.3s ease;
}

.phone-play-icon {
  color: rgb(255, 255, 255, .8);
  font-size: 15px;
}

.phone-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  opacity: 0;
  transition: opacity 0.7s ease;
}
.phone-favorite-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  color: gold;
  font-size: 11px;
  opacity: 1; 
  transition: opacity 0.3s ease;
  z-index: 2;
}


.phone-link:hover .phone-overlay{
  opacity: 1; 
}

// @media (max-width: 576px) {
//   .phone-img-item {
//     flex-basis: calc(50% - 20px); 
//   }
// }

// @media (max-width: 768px) {
//   .phone-img-item {
//     flex-basis: calc(33.33% - 20px); 
//   }
// }

// @media (max-width: 992px) {
//   .phone-img-item {
//     flex-basis: calc(25% - 20px); 
//   }
// }

.phone-poster-size-channels {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; 
}

.phone-poster-wrapper-channels {
  position: relative;
  width: 101%;
  padding-bottom: 100%; 
  overflow: hidden;
}

.featured-header {
  color: gold;
  font-size: 77px;
  font-family: "Luckiest Guy", cursive;
  margin-top: -22px;
  text-shadow: black 2px 2px 2px;
  text-align: center;
  
}

.cin1 {
width: 100%;
display: block;
height: auto;
margin-top: 33px;
margin-bottom: -28%;
padding: 46%;
}

.cin1-par {
  position: relative;
  overflow: hidden;
  scale: 1;
}
.cin2 {
  width: 100%;
  display: block;
  height: auto;
  padding: 45%;
  }
  
  .cin2-par {
    position: relative;
    overflow: hidden;
    scale: 1;
  }
  .mov1-par {
    position: relative;
    overflow: hidden;
    scale: 1;
    margin-top: -33%;
   
  
  }
  .mov1 {
    width: 100%;
    display: block;
    height: auto;
    padding: 47%;
    }
    .mov2 {
      width: 100%;
      display: block;
      height: auto;
      padding: 47%;
      margin-top: -55%;
      }
      .mov3 {
        width: 100%;
        display: block;
        height: auto;
        padding: 47%;
        margin-top: -55%;
        }
    
    .channel1 {
      width: 100%;
      display: block;
      height: auto;
      padding: 39%;
      }
      
      .channel1-par {
        position: relative;
        overflow: hidden;
        scale: 1;
        margin-top: -11%;
      
      }

      .vase {
        width: 100%;
        display: block;
        height: auto;
        padding: 47%;
        margin-top: 1%;
        
     
      }
      .vase-par {
        position: relative;
        overflow: hidden;
        scale: .5;
      }
      .coutntries-par {
        position: relative;
        overflow: hidden;
      }
      .couch2 {
        width: 100%;
        display: block;
        height: auto;
        padding: 45%;
        }
        
        .couch2-par {
          position: relative;
          overflow: hidden;
          scale: 1;
          margin-top: -50%;
        }
        .von {
          margin-bottom: 33%;
          display: block;
          margin-left: auto;
          margin-right: auto;
          border: 1px solid black;
          padding: 2px;
          border-radius: 22px;
          background-color: rgb(0, 0, 0);
        }
 
      
    
