.globe-container {
    display: flex;
    flex-wrap: wrap;
}

.globe-item {
    position: relative;
    margin: 10px;
    flex: 0 0 calc(25% - 20px); 
    
}

.globe-link {
    display: block;
    position: relative;
}

.poster-wrapper-globe {
    position: relative;
    width: 100%;
    padding-bottom: 70%; 
    overflow: hidden;
    
}

.globe-poster-size {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 86%;
    object-fit: cover; 
    box-shadow: 0 3px 5px rgba(0, 0, 0, 1); 
}

.play-icon-wrapper-globe {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0; 
    transition: opacity 0.3s ease;
}

.play-icon-globe {
    color: white;
    font-size: 48px;
}

.globe-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 86%;
    background-color: rgba(0, 0, 0, 0.5); 
    opacity: 0; 
    transition: opacity 0.3s ease;
}

.favorite-icon-globe {
 position: absolute;
  top: 10px;
  right: 10px;
  color: gold;
  font-size: 24px;
  opacity: 1; 
  transition: opacity 0.3s ease;
}

.globe-link:hover .globe-overlay,
.globe-link:hover .favorite-icon-globe,
.globe-link:hover .play-icon-wrapper-globe {
    opacity: 1; 
    cursor: pointer;
}
.favorite-icon-globe:hover {
    color: gray;
}
