
.couch {
  width: 222px;
}
.couch {
  /* transform: rotate(90deg);  */
  transition: transform 2s ease;
}
.couch:hover {
  transform: rotate(360deg);
}
.favorites-count {
  position: relative;
  margin: -3px;
  transform: translateY(-55%);
}



.lamp1 {
  width: 222px;
  transform: translateY(-55px);
  transition: transform 0.7s ease;
}
.lamp1:hover {
  transform: rotate(1deg);
  cursor: pointer;
}


.tv {
  width: 222px;
  transition: transform 3s ease;
}
.tv:hover {
  transform: rotate(77deg);
}
