.nav-bar-main {
  margin: 22px;
}
.nav-btn,
.login-text {
  color: rgb(255, 255, 255);
  transition: color 0.3s ease;
  font-family: "Michroma", sans-serif;
  font-weight: 700;
  text-shadow: black 2px 2px 2px;
  font-optical-sizing: auto;
  font-size: 11px 0.3s ease;
  border: 2px black solid;
  border-radius: 3px;
  background-color: rgba(255, 78, 246, 0.501);
  border-width: 2px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 1); 
  border-radius: 22px;
  padding: 7px;
  
}
.nav-btn:hover {
  color: rgb(255, 225, 0);
  transform: rotate(1deg);
}

.login-text {
  font-size: 22px;
  background-color: blue;

}

.logout-btn {
  display: flex;
  align-items: center;
  color: rgb(255, 255, 255);
  font-size: 33px;
  text-shadow: black 2px 2px 2px;
}
.login-btn {
  color: white;
  border: none;
  padding: 0px;
}

.username-span {
  margin-right: 10px;
  font-family: "Caveat", cursive;
}

