.nav-bar-main {
  margin: 22px;
}
.nav-btn {
  color: rgb(255, 255, 255);
  transition: color 0.3s ease;
  font-family: "Michroma", sans-serif;
  font-weight: 700;
  text-shadow: black 2px 2px 2px;
  font-optical-sizing: auto;
  font-size: 11px 0.3s ease;
}
.nav-btn:hover {
  color: rgb(255, 0, 0);
  transform: rotate(1deg);
}

