.movies-poster-size {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}
.movies-poster-size {
  border-color: rgb(233, 100, 200);
  border-style: groove;
  transition: transform 5s ease;
}
.movies-poster-size:hover {
  border-color: rgb(0, 0, 0);
  transition-duration: 2s;
  transform: rotate(2deg);
}
.channels-poster-size {
  width: 300px;
  margin-left: 4%;
  margin-right: auto;
}
.channels-poster-size {
  border-color: rgb(233, 100, 200);
  border-style: groove;
  transition: transform 5s ease;
}
.channels-poster-size:hover {
  border-color: rgb(0, 0, 0);
  transform: rotate(2deg);
}
