/*TITLE IMAGE*/
@media only screen and (max-width: 600px) {
    .title-img {
        transform: scale(44%);
        align-items: start;
    }
}

@media only screen and (min-width: 600px) {
    .title-img {
        transform: scale(80%);
    }
}

@media only screen and (max-width: 600px) {
    .title-img {
        right: 122px;
    }
}


@media only screen and (min-width: 1400px) {
.nav-btn-fave {
    display: none;
}
}


@media only screen and (max-width: 1400px) {
    .couch,
    .lamp1,
    .favorites-count  {
        display: none;
     
    }
}

@media only screen and (max-width: 600px) {

    .tv {
        transform: scale(55%);;
    }
}

@media only screen and (max-width: 700px) {

    .featured-container {
        transform: scale(.2);
        
    }
}
@media only screen and (max-width: 700px) {

    .display-movie {
        transform: scale(.5);
        translate: -12rem -8rem;
        
    }
}
