@media screen and (max-width: 1300px) {
    .you, .are, .beautiful, .couch, .lamp1, .tv {
        display: none;
    }
}




body {
    background-image: url(https://images.wallpaperscraft.com/image/single/rose_buds_bush_124960_3840x2400.jpg);
   
    background-size: cover;
}
.homeNavBtn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: rgb(255, 251, 0);
}

.navBarMain { 
     margin: 22px;
    }
  
.titleImg {
    width: 444px;
}
.titleImg {
    transition: transform 0.5s ease; /* Add transition for smooth effect */
}

.titleImg:hover {
    transform: rotate(5deg); /* Tilt right on hover */
    
}
.homeNavBtn {
    color: black; /* Default color */
    transition: color 0.3s ease; /* Add transition for smooth color change */

}

.homeNavBtn:hover {
    color: rgb(255, 255, 255); /* Change to red on hover */
}
.homeNavBtn {
    font-family: "Kode Mono", monospace;
  font-optical-sizing: auto;
 font-size: 33px 0.3s ease;
}
.homeNavBtn:hover {
    transform: rotate(1deg); 
    
}

.theFooter {
    padding: 122px;
    margin-top: 0rem;
}
.copyright {
    font-size: 18px;
    color: aliceblue;
    text-align: center;
}
.you {
    font-size: 22px;
    position: relative;
    color: rgb(255, 0, 0);
    text-shadow: black 1px 1px 1px;
    left: 255px;
    
}
.beautiful {
    font-size: 11px;
    position: relative;
    color: rgb(255, 0, 0);
    text-shadow: black 1px 1px 1px;
    left: 11px;
    z-index: -1;
}
.couch {
    width: 222px;
    margin-left: -66px;
   
 
}
.couch{
    /* transform: rotate(90deg);  */
    transition: transform 2s ease;
}
.couch:hover {
    transform: rotate(360deg); 
}

.lamp1  {
    width: 222px;
    transform: translateY(-44px);
    transition: transform .7s ease;
}
.lamp1:hover {
    transform:rotate(1deg);
}
.are {
    font-size: 22px;
    position: relative;
    color: rgb(255, 0, 0);
    text-shadow: black 1px 1px 1px;
    left: 145px;
}
.tv {
    width: 222px;
    transform: translateX(122px);
    transition: transform 3s ease;
    
}
.tv:hover {
    transform: rotate(77deg);
}
/* .movies-container {
    width: 200px;
} */
.channelsPosterSize {
    width: 300px;
    margin-left: 4%;
    margin-right: auto;
}
.moviesPosterSize {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}
.moviesPosterSize {
    border-color: rgb(233, 100, 200);
    border-style: groove;
    transition: transform 5s ease;
}
.moviesPosterSize:hover {
    border-color: rgb(0, 0, 0);
    transition-duration: 2s;
    transform: rotate(2deg);
}
.channelsPosterSize {
    border-color: rgb(233, 100, 200);
    border-style: groove;
    transition: transform 5s ease;
}
.channelsPosterSize:hover {
    border-color: rgb(0, 0, 0);
    transform: rotate(2deg);
}
.movies-carousel-item {
    width: 333px;
    align-items: center;
    display: block;
    margin: auto;
}
.featured {
    color: white;
    text-align: center;
    margin-top: 55px;
    margin-bottom: 55px;
}
